/* grid-global */
.grid1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
  grid-gap: 5px;
  align-items: center;
  justify-content: center;
}

.grid2 {
  justify-content: center;
  grid-gap: 5px;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
}

/* --------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------
t---------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------- */

.img-sertifikat-item {
  width: 75%;
  filter: drop-shadow(5px 5px 10px #000);
  margin: 10%;
}
